<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_izin_root" name="İzin Yönetimi" sequence="50"/>

    <menuitem id="menu_izin_taleplerim" name="İzin Taleplerim"
        parent="menu_izin_root"
        action="action_izin_talep_benim"
        sequence="10"/>

    <menuitem id="menu_izin_tum" name="Tüm Talepler"
        parent="menu_izin_root"
        action="action_izin_talep_tum"
        groups="base.group_erp_manager"
        sequence="20"/>
</odoo>
